body{
    background-color: blanchedalmond;
}

#conteudo{
    color: coral;
    background-color: azure;
}

p{
    color: #234a89;
}

.paragrafo1{
    color: white;
    background-color: black;
    font-weight: bold;
}

.paragrafo2{
    color:chartreuse;
    background-color: red;
}